body {
    padding: 0;
    margin: 0;
    background-color: white;
}

a {
    text-decoration: none;
}

#head {
    position: fixed;
    height: 70px;
    width: 100%;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}





#logotxt {
    font-family: 'Playfair Display', serif;
    margin-left: 120px;
}

#logo {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    color: #ff7300;
    font-weight: 600;
}
#logo:hover {
    color: #a14e0a;
}

.search-box {
    position: relative;
}

.search-box input {
    height: 36px;
    width: 220px;
    padding: 0 40px 0 15px;
    border: none;
    border-radius: 20px;
    color: #000000;
    font-size: 14px;
    font-family: 'Segoe UI', sans-serif;
    transition: 0.3s ease;
    box-shadow: inset 0 0 3px rgba(55, 55, 55, 0.4);
}

.search-box input::placeholder {
    color: #2f2f2f;
    font-style: italic;
}

.search-box input:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(52, 52, 52, 0.6);
}

/* Search Icon */
.search-box i {
    position: absolute;
    right: 12px;
    top: 10px;
    color: #323232;
    font-size: 16px;
}

.navbar {
    display: block;
    text-align: center;
    justify-content: center;
    padding: 20px;
    margin-top: 70px;
}

.navbar a {
    font-family: 'Bebas Neue', sans-serif;
    color: #000000;
    width: 20px;
    letter-spacing: 3px;
    text-decoration: none;
    margin-left: 40px;
    font-weight: 500;
}

.navbar a:hover {
    border-bottom: 2px solid black;
}

.container {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1000;
    background-color: #25d366;
    border-radius: 20px;
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.container i {
    font-size: 24px;
    color: white;
}

.container a {
    text-decoration: none;
    color: white;
}

.chat-label span {
    font-size: 14px;
}



.container1 {
    display: flex;
    margin-left: 80px;


    width: 80%;
    height: auto;
}

#cats {
    height: 200px;
    width: 200px;
    border-radius: 20px;
    padding: 20px;
}

.container1 h2 {
    font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
}

#cats a {
    color: #000000;
    display: block;
    text-align: left;
    padding-left: 10px;
    margin-bottom: 8px;
    font-size: 15px;
    text-decoration: none;
    transition: 0.3s;
}

#cats a:hover {
    color: grey;
    padding-left: 15px;
}

.container2 {
    margin-left: 40px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}



.box {
    height: 400px;
    margin: 20px;
}

.imgs {
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
}

.box span,
p {
    margin-bottom: 50px;
    color: #000000;
    font-weight: 300;
    font-family: 'Futura', sans-serif;
    font-size: 15px;
    padding: 10px;
}

.box p {
    font-size: 20px;
    font-weight: 700;
}

#preprice {
    text-decoration: line-through rgb(255, 84, 84);
}

.container2 .img {
    height: 250px;
    width: 200px;

}

.container2 h2 {
    font-family: 'Josefin Sans', sans-serif;
}

.container2 #img1 {
    background-image: url("https://enemmall.com/cdn/shop/files/WhatsAppImage2025-07-25at3.19.10PM_1.jpg?v=1754125451&width=540");
    background-size: cover;
}

.container2 #img2 {
    background-image: url("https://enemmall.com/cdn/shop/files/XM04201_DW5_FNT.jpg?v=1754126519&width=540");
    background-size: cover;
}

.container2 #img3 {
    background-image: url("https://enemmall.com/cdn/shop/files/1153553-3.webp?v=1754131262&width=540");
    background-size: cover;
}


.container2 #img1:hover {
    background-image: url("https://enemmall.com/cdn/shop/files/6622658red_2.jpg?v=1754125451&width=1800");
}

.container2 #img2:hover {
    background-image: url("https://enemmall.com/cdn/shop/files/XM04201_DW5_BCK.jpg?v=1754126519&width=1800");
}

.container2 #img3:hover {
    background-image: url("https://enemmall.com/cdn/shop/files/1153553-2.webp?v=1754131262&width=1800");
}


.container3 {
    width: 95.2%;
    margin-top: 100px;
    height: 500px;
    padding: 30px;
    background-image: url("https://static.vecteezy.com/system/resources/previews/011/640/737/non_2x/shopping-day-sale-banner-template-design-for-web-or-social-media-vector.jpg");
    background-size: cover;
}





.container2 #img11 {
    background-image: url("https://enemmall.com/cdn/shop/files/WhatsAppImage2025-07-25at3.19.08PM.jpg?v=1754125415&width=540");
    background-size: cover;
}

.container2 #img12 {
    background-image: url("https://enemmall.com/cdn/shop/files/WhatsAppImage2025-07-25at3.19.09PM_1.jpg?v=1754125418&width=540");
    background-size: cover;
}

.container2 #img13 {
    background-image: url("https://enemmall.com/cdn/shop/files/WhatsAppImage2025-07-25at3.19.11PM.jpg?v=1754125411&width=540");
    background-size: cover;
}

.container2 #img14 {
    background-image: url("https://enemmall.com/cdn/shop/files/WhatsAppImage2025-07-25at3.19.08PM_1.jpg?v=1754125448&width=540");
    background-size: cover;
}

.container2 #img15 {
    background-image: url("https://enemmall.com/cdn/shop/files/WhatsAppImage2025-07-25at3.19.10PM_1.jpg?v=1754125451&width=540");
    background-size: cover;
}

.container2 #img11:hover {
    background-image: url("https://enemmall.com/cdn/shop/files/6622801skn_2.jpg?v=1754125416&width=1800");
}

.container2 #img12:hover {
    background-image: url("https://enemmall.com/cdn/shop/files/6622806.jpg?v=1754125418&width=1800");
}

.container2 #img13:hover {
    background-image: url("https://enemmall.com/cdn/shop/files/6622822blu.jpg?v=1754125411&width=1800");
}

.container2 #img14:hover {
    background-image: url("https://enemmall.com/cdn/shop/files/6622686pup_2.jpg?v=1754125448&width=1800");
}

.container2 #img15:hover {
    background-image: url("https://enemmall.com/cdn/shop/files/6622658red_2.jpg?v=1754125451&width=1800");
}



.container2 #img21 {
    background-image: url("https://enemmall.com/cdn/shop/files/1153562-4.webp?v=1754131259&width=540");
    background-size: cover;
}

.container2 #img22 {
    background-image: url("https://enemmall.com/cdn/shop/files/11535615.webp?v=1754131259&width=540");
    background-size: cover;
}

.container2 #img23 {
    background-image: url("https://enemmall.com/cdn/shop/files/1153560-3.webp?v=1754131260&width=540");
    background-size: cover;
}

.container2 #img24 {
    background-image: url("https://enemmall.com/cdn/shop/files/1153553-3.webp?v=1754131262&width=540");
    background-size: cover;
}

.container2 #img25 {
    background-image: url("https://enemmall.com/cdn/shop/files/1153550-4.webp?v=1754131264&width=540");
    background-size: cover;
}

.container2 #img21:hover {
    background-image: url("https://enemmall.com/cdn/shop/files/1153562-3.jpg?v=1754131259&width=1800");
}

.container2 #img22:hover {
    background-image: url("https://enemmall.com/cdn/shop/files/1153561-2.jpg?v=1754131259&width=1800");
}

.container2 #img23:hover {
    background-image: url("https://enemmall.com/cdn/shop/files/1153560-2.jpg?v=1754131260&width=1800");
}

.container2 #img24:hover {
    background-image: url("https://enemmall.com/cdn/shop/files/1153553-2.webp?v=1754131262&width=1800");
}

.container2 #img25:hover {
    background-image: url("https://enemmall.com/cdn/shop/files/1153550-3.webp?v=1754131264&width=1800");
}


/* Men Wear Section */

.container2 #img31 {
    background-image: url("https://enemmall.com/cdn/shop/files/7051131_1.jpg?v=1754126467&width=540");
    background-size: cover;
}

.container2 #img32 {
    background-image: url("https://enemmall.com/cdn/shop/files/XM04201_YCF_FNT.jpg?v=1754126513&width=540");
    background-size: cover;
}

.container2 #img33 {
    background-image: url("https://enemmall.com/cdn/shop/files/XM04201_DW5_FNT.jpg?v=1754126519&width=540");
    background-size: cover;
}

.container2 #img34 {
    background-image: url("https://enemmall.com/cdn/shop/files/7051346lng_2.jpg?v=1754126173&width=900");
    background-size: cover;
}

.container2 #img35 {
    background-image: url("https://enemmall.com/cdn/shop/files/7048557.jpg?v=1754132025&width=900");
    background-size: cover;
}

.container2 #img31:hover {
    background-image: url("https://enemmall.com/cdn/shop/files/7051131_2.jpg?v=1754126468&width=1800");
}

.container2 #img32:hover {
    background-image: url("https://enemmall.com/cdn/shop/files/XM04201_YCF_DE1.jpg?v=1754126513&width=1800");
}

.container2 #img33:hover {
    background-image: url("https://enemmall.com/cdn/shop/files/XM04201_DW5_BCK.jpg?v=1754126519&width=1800");
}

.container2 #img34:hover {
    background-image: url("https://enemmall.com/cdn/shop/files/7051346lng_4.jpg?v=1754126173&width=1800");
}

.container2 #img35:hover {
    background-image: url("https://enemmall.com/cdn/shop/files/WhatsAppImage2024-12-03at12.32.58PM_1.jpg?v=1754132025&width=1080");
}




.container4 {
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    background-color: #000000;
}

.firbox {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 50px;
}

#call {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#call i {
    margin-top: 15px;

}

.no {
    text-decoration: underline;
    display: flex;
    flex-direction: column;
}

.firbox a {
    padding: 5px;
    color: white;
}


.followicons i {
    font-size: 20px;
}